.accordion {
  margin: 0.5em 0;
  border: var(--main-border);
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.02);
}

.accordion__heading {
  margin: 0;
  font-size: 1.17em;
}

.accordion__button,
.accordion__button:focus {
  width: 100%;
  text-align: left;
  border-radius: 0;
  background-color: var(--main-background-color);
  color: var(--main-text-color);
  box-shadow: none;
}

.accordion__button:hover {
  background-color: #eee;
  color: var(--main-text-color);
  box-shadow: none;
}

.accordion__content {
  padding: 1.5em 2em;
}

.accordion__icon {
  float: right;
}
