#batch_object_info {
  padding: 1em 0;
}

.show_batch_object {
  margin: 2em 0;
}

.batch_objects {
  padding: 1em 1.5em;
  margin: 1em 0;
  border: var(--main-border);
  border-radius: 6px;
}

.file-subheading {
  margin: 0;
  margin-bottom: 1em;
  font-size: 1.17em;
}
