:root {
  --main-brand-color: #c5050c;
  --accent-brand-color: #9b0000;

  --main-border: 1px solid #E0E0E0;
  --accent-border: 2px solid #c5050c;

  --main-font-family: sans-serif;

  --main-text-color: #333;
  --main-background-color: #F9F9F9;
  --accent-background-color: #FCFCF6;

  --main-button-background: #0073CE;
  --accent-button-background:  #0D8CF1;
  --main-button-text-color: #ffffff;

  --main-link-color: #0073CE;
  --accent-link-color:  #0D8CF1;

  --main-footer-color: #D6D6D6;
  --accent-footer-color: #ffffff;
  --main-footer-background: #333333;
  --accent-footer-background: #484848;

  --main-header-color: #ffffff;
}
