<header id="mainheader" class="preservation-header">
  <div id="app_header">
    <div class="site-menu max_width">
      <h1 class="main_nav">
        <%= link_to 'Digital Preservation Repository', root_path %> 
      </h1>
    </div>
    <div class="max_width">
      <p>Hello, <%= current_user.display_name %></p>
      <p>Find me in app/views/application/_header.html.erb</p>
    </div>
  </div>
</header>
